<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<p>
  <span style="font-size: xx-large">City: </span>
  <span style="font-size: xx-large" th:text="${weather.getCity()}"> </span>
</p>
<img th:width="150px" th:src="${weather.getCurrent().getCondition().getIcon()}"/><br>

<p>
  <span>Temperature [*C]:</span>
  <span th:text="${weather.getCurrent().getTempC()}"></span></p>
<p>
  <span>Pressure: </span>
  <span th:text="${weather.getCurrent().getPressureMb()}"></span>
</p>
<p>
  <span>Humidity:</span>
  <span th:text="${weather.getCurrent().getHumidity()}"></span></p>
<p>
  <span>Wind [km/h]: </span>
  <span th:text="${weather.getCurrent().getWindKph()}"></span></p>
<p>
  <span>Feels like [*C]: </span>
  <span th:text="${weather.getCurrent().getFeelslikeC()}"></span></p>

<a href="/weather">Check another city</a>
</body>
</html>